root = true
[*]
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.{build,xml,yaml,yml,toml}]
indent_size = 2

[*.{json,py,rs}]
indent_size = 4

[*.rs]
max_line_length = 110

[*.dc]
indent_size = 4

[*.in]
indent_size = 2
max_line_length = 80

[CHANGELOG]
indent_size = 2
max_line_length = 72
