[package]
name = "pandanet"
version = "0.0.0"
edition = "2021"
license = "GPL-2.0"
authors = ["Max Rodriguez <max@vulkray.com>"]
homepage = "https://github.com/Max-Rodriguez/PandaNet/"
repository = "https://github.com/Max-Rodriguez/PandaNet/"
keywords = ["otp", "panda", "networking", "server", "mmo"]
readme = "README.md"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
